# Se cambió "sentence" por "text"
# Añade el código necesario
# Define las palabras pista: average, temperature y distance suenan bien
# Ciclo for para recorrer la cadena
# Ciclo para cambiar C a Celsius

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [3]:
key_words = ["average", "temperature", "distance"]

In [5]:
for text in text_parts:
    for key_word in key_words:
        if key_word in text:
            print(text)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [7]:
for text in text_parts:
    for key_word in key_words:
        if key_word in text:
            print(text.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2

In [34]:
# Datos con los que vas a trabajar
nombre = "Luna"
gravedad = 0.00162 # in kms
planeta = "Tierra"

In [35]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [36]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [37]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [22]:
# Nuevos datos muestra
nombre = 'Ganímedes'
gravedad  = 0.00143
planeta = 'Marte '

In [38]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [39]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Luna
-------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 0.00162 m/s2

In [40]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Luna
-------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2